<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Money Tracker App</title>
  </head>
  <body class="d-flex flex-nowrap">
    <header class="position-relative col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column">
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main class="main-container" style="width: 100%;">
      <div class="main-content">
        <div class="container py-3">
          <h1 class="mb-3 px-2">Edit Profile</h1>

          <form class="row d-lg-flex flex-column g-3" id="editUserForm" novalidate>
            <div class="col-12 col-sm-10">
              <label for="validationCustomUserName" class="form-label">Name</label>
              <input-with-validation
                id="inputNameEdit"
                type="text"
                inputId="validationCustomName"
                invalidFeedbackMessage="Wajib diisi"
                required
              ></input-with-validation>
            </div>

            <div class="col-12 col-sm-10 text-end">
              <button class="btn bg-gradient" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
